<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sa.ksu.gpa.saleem">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".font.CustomFontApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditMyRecipe"></activity>
        <activity android:name=".util.test"></activity>
        <activity android:name=".MyRecipesActivity" />
        <activity android:name=".MyExcercise" />
        <activity android:name=".AddFoodActivity" />
        <activity android:name=".recipe.SharedRecipe.viewSharedRecipeActivity" />
        <activity android:name=".MyFoodActivity" />
        <activity android:name=".recipe.sharedRecipeInformaion" />
        <activity android:name=".recipe.ShareRecipeFirst" />
        <activity android:name=".exercise.InnerExercise" />
        <activity
            android:name=".exercise.SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".exercise.InnerExercise" />
        </activity>

        <receiver
            android:name=".exercise.TimerExpiredReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".exercise.TimerNotificationActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="stop" />
                <action android:name="pause" />
                <action android:name="resume" />
                <action android:name="start" />
            </intent-filter>
        </receiver>

        <activity android:name=".register.registerOneActivity" />
        <activity
            android:name=".profile.Profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".profile.editProf"
            android:parentActivityName=".profile.Profile" />
        <activity android:name=".Timer.Timer_Play" />
        <activity android:name=".Timer.TimerSettings" />
        <activity android:name=".profile.fragmentTwo" />
        <activity android:name=".profile.fragmentOne" />
        <activity android:name=".loginn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.registerFourActivity"
            android:parentActivityName=".register.registerThreeActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/splashTheme" />
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".register.registerThreeActivity"
            android:parentActivityName=".register.registerTwoActivity" />
        <activity android:name=".ScanActivity" />
        <activity
            android:name=".register.registerTwoActivity"
            android:parentActivityName=".register.registerOneActivity" />
    </application>

</manifest>